/*login page css*/
.login-container {
    min-height: 100vh; 
    background-image: url('../images/bg.webp'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}
.section-authentication-signin {
    width: 100%;
    min-height: 100vh;
}
.loginoverlay {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.4);
}

.maincolmax .card {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); 
}
.bluegradientbtn {
    background: linear-gradient(135deg, rgb(79, 70, 229), rgb(124, 58, 237));
    font-size: 14px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 8px;
    transition: 0.2s;
    box-shadow: rgba(79, 70, 229, 0.1) 0px 4px 6px !important;
    transform: translateY(0px);
    padding: 9px 12px !important;
}
.bluegradientbtn:hover {
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(79, 70, 229, 0.15);
}

.bluegradientbtn.active:hover {
    transform: unset;
}
.cursor-pointer {
    cursor: pointer;
}
.fs-13 {
    font-size: 13px;  
}
.midgreycolor {
    color: #94a3b8;
}
.darkgreytext {
    color: #6b7280;
}
.login-separater span {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.95);
    padding: 0 15px;
    color: #8f9bb3;
    font-size: 12px;
}
.hr-border {
    border-color: #e4e9f2;
}
.login-logo {
    height: 50px;
}
